
<!DOCTYPE html>

<html>
  <head>
    <meta charset = "UTF-8"/>
    <title>글 목록</title>
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <style>
    h2{
      font-size: 2.0em;
      font-family:"Apple Gothic", "Malgun Gothic";
      color: #666;
    }

    .post_container{
      font-size: 1.0em;
    }
    #post-221{
      font-size:1.25em;
    }

    .post_container . post_info{
      font-size: 0.8em;
    }

    </style>
  </head>
  <body>
    <div id= "post-221" class="post_container">
      <h3>글을 써봤음.</h3>

      <div class="post_content">
        <p>ㅎㅇㅎㅇㅎㅇ</p>
        <p>실제 글 목록 화면은 아니지만 그럴싸 하네욥</p>
        <p>다음글에서 또 봐요~</p>
      </div>
      <div class="post_info">
        <div class="post_date">2016년 2월 24일</div>
        <div class="category">글 갈래:Essay</div>
      </div>
    </div>

    <div  id= "post-220" class="post_container">
      <h3>글을 써봤음.</h3>

      <div class="post_content">
        <p>ㅎㅇㅎㅇㅎㅇ</p>
        <p>실제 글 목록 화면은 아니지만 그럴싸 하네욥</p>
        <p>다음글에서 또 봐요~</p>
      </div>
      <div class="post_info">
        <div class="post_date">2016년 2월 24일</div>
        <div class="category">글 갈래:Essay</div>
      </div>
    </div>

    <div  id= "post-219" class="post_container">
      <h3>글을 써봤음.</h3>

      <div class="post_content">
        <p>ㅎㅇㅎㅇㅎㅇ</p>
        <p>실제 글 목록 화면은 아니지만 그럴싸 하네욥</p>
        <p>다음글에서 또 봐요~</p>
      </div>
      <div class="post_info">
        <div class="post_date">2016년 2월 24일</div>
        <div class="category">글 갈래:Essay</div>
      </div>
    </div>

    <div  id= "post-218" class="post_container">
      <h3>글을 써봤음.</h3>

      <div class="post_content">
        <p>ㅎㅇㅎㅇㅎㅇ</p>
        <p>실제 글 목록 화면은 아니지만 그럴싸 하네욥</p>
        <p>다음글에서 또 봐요~</p>
      </div>
      <div class="post_info">
        <div class="post_date">2016년 2월 24일</div>
        <div class="category">글 갈래:Essay</div>
      </div>
    </div>

    <div  id= "post-217" class="post_container">
      <h3>글을 써봤음.</h3>

      <div class="post_content">
        <p>ㅎㅇㅎㅇㅎㅇ</p>
        <p>실제 글 목록 화면은 아니지만 그럴싸 하네욥</p>
        <p>다음글에서 또 봐요~</p>
      </div>
      <div class="post_info">
        <div class="post_date">2016년 2월 24일</div>
        <div class="category">글 갈래:Essay</div>
      </div>
    </div>

    <nav class = "page_navigation">
      <li>1</li>
      <li>2</li>
      <li class="current_page">3</li>
      <li>4</li>
      <li>5</li>
    </nav>
  </body>
</html>
