<!DOCTYPE html>
<html>
<head>
  <title>C62_Tumblog</title>
  <meta charset="utf-8"/>
  <style>
  .container{
    background-color:#C7E1BA;
  }
  .head_line{
    background-color:  #397249;
    color: white;
  }
  footer{
    backgound-color: white;
  }

  </style>

</head>
<body>
<div class = "head_line" >
  <br/><br/><br/><br/>
  <h1 align="center" > C62's Tumblog</h1>
  <br/><br/><br/><br/>
</div>
<div class = "container" >
    <br/><br/>
    <form>
    <select>
      <option>연번</option>
      <option>카테고리</option>
      <option>일시</option>
      <option>조회수</option>
    </select>
    <input type = "submit" value ="필터">
    </form>

  <form align = "right">
    <p>검색 <input type="text">
  </form>
  <table border="1", align="center">
    <thead font-size = "30">
      <tr>
        <th>연번</th> <th>카테고리</th> <th>글 제목</th> <th>작성자</th>  <th>일시</th> <th>조회수</th>
      </tr>
    </thead>
    <tbody class = "list_contets">
      <tr>
        <td>5</td> <td>카테고리</td> <td>글 제목</td> <td>작성자</td>  <td>일시</td> <td>조회수</td>
      </tr>
      <tr>
        <td>4</td> <td>카테고리</td> <td>글 제목</td> <td>작성자</td>  <td>일시</td> <td>조회수</td>
      </tr>
      <tr>
        <td>3</td> <td>카테고리</td> <td>글 제목</td> <td>작성자</td>  <td>일시</td> <td>조회수</td>
      </tr>
      <tr>
        <td>2</td> <td>카테고리</td> <td>글 제목</td> <td>작성자</td>  <td>일시</td> <td>조회수</td>
      </tr>
      <tr>
        <td>1</td> <td>카테고리</td> <td>글 제목</td> <td>작성자</td>  <td>일시</td> <td>조회수</td>
      </tr>
    </tbody>
  </table>
  <br/><br/><br/><br/>

  <nav>
    <ul>
      <li><a href>1</a></li>
      <li><a href>2</a></li>
      <li><a href>3</a></li>
      <li><a href>4</a></li>
      <li><a href>5</a></li>
    </ul>
  <br/><br/>
  </nav>
</div>
<footer>

  <p>관리자 - <strong>남시욱</strong>            전화번호  -  010-5141-9011</p>

  <address>주소 - 강남구 세곡동</address>
  <p>copyright by C62. all right reserved<p>
  <email>nsw9211@gamil.com</email>
</footer>
</body>
</html>
