{% extends 'layout.html' %}

{% block page_title %} 글 목록 페이지{% endblock %}

{% block body %}
  <div class = "title">
  <h1>C62 게시판입니다~~</h1>

  </div>
  {% for post in posts %}
  <div class="post_container">
    <h3><a href="{% url 'view_post' pk=post.pk%}">
        {{post.title}}
      </a></h3>

    <div class="post_content">{{post.content}}</div>
    {% empty%}
    <p>게시물이 없습니다</p>
  </div>
  {% endfor%}
  <nav>
    <ul class="pagination">
      <li>
        {% if posts.has_previous %}
        <a href="?page={{posts.previous_page_number}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
        {% endif %}
      </li>
      <li><a href="?page=1">1</a></li>
      <li><a href="?page=2">2</a></li>
      <li><a href="?page=3">3</a></li>
      <li><a href="?page=4">4</a></li>
      <li><a href="?page=5">5</a></li>
      <li>
        {% if posts.has_next %}
        <a href="?page={{posts.next_page_number}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
        {% endif %}

      </li>
    </ul>
  </nav>

  <p class="button">
    <a href ="{% url 'create_post'%}" style="font-weight:bold; " class = "btn btn-success btn-sm">
      글쓰기
    </a> <!-- url 네임을 넣어줌 ㄴdjango 템플릿 태그를 이용해서 -->
  </p>

{% endblock%}

{% block header %}
  <h1>Tumblog</h1>
  {% include 'dummy.html' %}
{% endblock %}
{% block footer %}
  <footer>

    <p>관리자 - <strong>남시욱</strong>            전화번호  -  010-5141-9011</p>

    <address>주소 - 강남구 세곡동</address>
    <p>copyright by C62. all right reserved<p>
    <email>nsw9211@gamil.com</email>
  </footer>

  {% endblock %}
</body>
</html>
